
.vs/Harmony-Tools/v17/.suo
*.v2
.vs/HarmonyTools/v17/.suo
*.sqlite
*.json
*.props
*.targets
ConvertAll/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ConvertAll/obj/Debug/ConvertAll.AssemblyInfo.cs
*.cache
ConvertAll/obj/Debug/ConvertAll.GeneratedMSBuildEditorConfig.editorconfig
ConvertAll/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ConvertAll/obj/Release/apphost.exe
ConvertAll/obj/Release/ConvertAll.AssemblyInfo.cs
ConvertAll/obj/Release/ConvertAll.csproj.FileListAbsolute.txt
ConvertAll/obj/Release/ConvertAll.dll
*.editorconfig
*.pdb
*.dll
Dat/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Dat/obj/Debug/Dat.AssemblyInfo.cs
Dat/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Dat/obj/Release/apphost.exe
Dat/obj/Release/Dat.AssemblyInfo.cs
Dat/obj/Release/Dat.csproj.FileListAbsolute.txt
Dialogue/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Dialogue/obj/Debug/Dialogue.AssemblyInfo.cs
Dialogue/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Dialogue/obj/Release/apphost.exe
Dialogue/obj/Release/Dialogue.AssemblyInfo.cs
Dialogue/obj/Release/Dialogue.csproj.FileListAbsolute.txt
ExplorerExtension/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ExplorerExtension/obj/Debug/ExplorerExtension.AssemblyInfo.cs
ExplorerExtension/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ExplorerExtension/obj/Release/apphost.exe
ExplorerExtension/obj/Release/ExplorerExtension.AssemblyInfo.cs
ExplorerExtension/obj/Release/ExplorerExtension.csproj.FileListAbsolute.txt
Font/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Font/obj/Debug/Font.AssemblyInfo.cs
Font/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Font/obj/Release/apphost.exe
Font/obj/Release/Font.AssemblyInfo.cs
Font/obj/Release/Font.csproj.FileListAbsolute.txt
HarmonyTools.sln
Installer/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Installer/obj/Debug/Installer.AssemblyInfo.cs
Installer/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Installer/obj/Release/apphost.exe
Installer/obj/Release/Installer.AssemblyInfo.cs
Installer/obj/Release/Installer.csproj.FileListAbsolute.txt
Spc/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Spc/obj/Debug/Spc.AssemblyInfo.cs
Spc/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Spc/obj/Release/apphost.exe
Spc/obj/Release/Spc.AssemblyInfo.cs
Spc/obj/Release/Spc.csproj.FileListAbsolute.txt
Srd/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Srd/obj/Debug/Srd.AssemblyInfo.cs
Srd/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Srd/obj/Release/apphost.exe
Srd/obj/Release/Srd.AssemblyInfo.cs
Srd/obj/Release/Srd.csproj.CopyComplete
Srd/obj/Release/Srd.csproj.FileListAbsolute.txt
Stx/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Stx/obj/Debug/Stx.AssemblyInfo.cs
Stx/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Stx/obj/Release/apphost.exe
Stx/obj/Release/Stx.AssemblyInfo.cs
Stx/obj/Release/Stx.csproj.FileListAbsolute.txt
V3Lib/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
V3Lib/obj/Debug/V3Lib.AssemblyInfo.cs
V3Lib/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
V3Lib/obj/Release/V3Lib.AssemblyInfo.cs
V3Lib/obj/Release/V3Lib.csproj.FileListAbsolute.txt
Wrd/obj/Debug/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Wrd/obj/Debug/Wrd.AssemblyInfo.cs
Wrd/obj/Release/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Wrd/obj/Release/apphost.exe
Wrd/obj/Release/Wrd.AssemblyInfo.cs
Wrd/obj/Release/Wrd.csproj.FileListAbsolute.txt
~Build/Release/ConvertAll.exe
~Build/Release/Dat.exe
~Build/Release/Dialogue.exe
~Build/Release/ExplorerExtension.exe
~Build/Release/Font.exe
~Build/Release/Installer.exe
~Build/Release/runtimes/linux-x64/native/libassimp.so
~Build/Release/runtimes/osx-x64/native/libassimp.dylib
~Build/Release/Spc.exe
~Build/Release/Srd.exe
~Build/Release/Stx.exe
~Build/Release/Wrd.exe
*.dylib
*.so
*.exe
*.txt
V3Lib/obj/Debug/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
*.vsidx
*.CopyComplete
Font/obj/Debug/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Font/.vs/Font/v17/.suo
*.bin
V3Lib/.vs/V3Lib/v17/.suo
*.user
*.semaphore
Font/obj/Release/singlefilehost
~Build/Release/createdump
~Build/Release/Font
~Build/Release/publish/linux-x64/Font
V3Lib/obj/Release/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Font/obj/Release/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
~Build/Release/publish/linux-x64/HTFont
